<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.GetCommonScriptsAndStyles()
    <link href="" rel="stylesheet" type="text/css" id="bwLink" />
    <script type="text/javascript" language="javascript">
        (function (e) { if (typeof define === "function" && define.amd) { define(["jquery"], e) } else { e(jQuery) } })(function (e) { function n(e) { return u.raw ? e : encodeURIComponent(e) } function r(e) { return u.raw ? e : decodeURIComponent(e) } function i(e) { return n(u.json ? JSON.stringify(e) : String(e)) } function s(e) { if (e.indexOf('"') === 0) { e = e.slice(1, -1).replace(/\\"/g, '"').replace(/\\\\/g, "\\") } try { e = decodeURIComponent(e.replace(t, " ")); return u.json ? JSON.parse(e) : e } catch (n) { } } function o(t, n) { var r = u.raw ? t : s(t); return e.isFunction(n) ? n(r) : r } var t = /\+/g; var u = e.cookie = function (t, s, a) { if (s !== undefined && !e.isFunction(s)) { a = e.extend({}, u.defaults, a); if (typeof a.expires === "number") { var f = a.expires, l = a.expires = new Date; l.setTime(+l + f * 864e5) } return document.cookie = [n(t), "=", i(s), a.expires ? "; expires=" + a.expires.toUTCString() : "", a.path ? "; path=" + a.path : "", a.domain ? "; domain=" + a.domain : "", a.secure ? "; secure" : ""].join("") } var c = t ? undefined : {}; var h = document.cookie ? document.cookie.split("; ") : []; for (var p = 0, d = h.length; p < d; p++) { var v = h[p].split("="); var m = r(v.shift()); var g = v.join("="); if (t && t === m) { c = o(g, s); break } if (!t && (g = o(g)) !== undefined) { c[m] = g } } return c }; u.defaults = {}; e.removeCookie = function (t, n) { if (e.cookie(t) === undefined) { return false } e.cookie(t, "", e.extend({}, n, { expires: -1 })); return !e.cookie(t) } });
    </script>
    <script type="text/javascript" language="javascript">
        function setOption(val) {
            var opt = $('#bootswatch option[value="' + val + '"]');
            $(opt).prop('selected', true);
        }

        function updateTheme() {
            var val = $.cookie('sblog_user_theme');
            if (val === null || val === undefined) {
                val = '//netdna.bootstrapcdn.com/bootswatch/latest/amelia/bootstrap.min.css';
            }
            $('#bwLink').attr('href', val);
        }

        updateTheme();
    </script>
    <script type="text/javascript">
        var api = '@Url.Content("~/Themes/BootswatchCraze/static/bootswatch.json")';
    </script>
    @Html.LoadStylesAndScripts(Html.Action("GetBlogTheme", "Blog").ToString())
</head>
    <body>
        @Html.Partial("AdminLinks")
        
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              @Html.Action("Logo","Blog")
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                @Html.Action("Pages", "ViewPage")
            </div>              
            <select id="bootswatch" name="bootswatch" style="color: black">
                    
            </select>
          </div>
        </div>
	    <br/><br/><br/><br/>
	    <div class="container">		
		    <div class="row">
		      <div class="col-lg-9">
			    @RenderBody()
		      </div>
		        <div class="col-lg-3">
		            @Html.Action("RecentPosts", "Recents")
                    @Html.Action("RecentComments", "Comment")
		            @Html.Action("BlogArchives", "Recents")
		            @Html.Action("BlogCategories", "Category")
		            @Html.Partial("SiteActions")
		        </div>
		    </div>
	    </div>
        <br/>
        <div id="footer">
            @Html.Action("BlogFooter","Blog")
            @Html.Partial("SocialFeatures")
        </div>              
    </body>
</html>
