@model sBlog.Net.Areas.Admin.Models.AdminUploadsViewModel

@{
    ViewBag.Title = string.Format("Manage Uploads || {0}", Model.Title);
}

<div id="left" style="float: left; width: 20%; padding: 5px;"> 

</div>
<div style="float: right">
    <a href="#upload-new">upload a file</a>
</div>
<div id="right" style="float: left; width: 60%">
    @if (Model.FileEntries != null && Model.FileEntries.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FileEntries)
                {
                    var imgUrl = Url.Content("~/Content/Images/extension_icons/" + item.FileIconName);
                    <tr>
                        <td>
                            <span>
                                <a href="@item.FileUrl" class="upload-item">
                                    <img src="@imgUrl" alt="@item.FileName" class="upload-img" />
                                    <span>@item.FileName</span>
                                </a>
                            </span>
                        </td>
                        <td>
                            <img class="deleteFile" data-file-name="@item.FileName" src="@Url.Content("~/Content/Images/close_delete.png")" alt="" title="delete this file" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning">
            there are no items in this section at this point!
        </div>
    }

    <ul class="pagination">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ManageUploads", new { page = x }))
    </ul>
    @Html.HiddenFor(model => Model.OneTimeCode)

    <br />
    <div id="upload-new">       
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Upload a File</h3>
          </div>
          <div class="panel-body">
            @using (Html.BeginForm("UploadFileWithRefresh", "Uploads", FormMethod.Post, new { Area = "Admin", enctype = "multipart/form-data" }))
            {
                <div>
                    <input type="file" id="file" name="file" />
                </div>
                <br /><br />
                <p class="pull-right">
                    <input type="submit" value="Upload Selected File" class="btn btn-lg btn-primary" />
                </p>
            }
          </div>
        </div>
    </div>
</div>
