@model sBlog.Net.Areas.Prepare.Models.DatabaseSetupModel

@{
    ViewBag.Title = "sBlog.Net Database Setup";
}
<div style="text-align: center">
    <h2>sBlog.Net database setup</h2>
</div>

<br/>

<div>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="message @Model.MessageCss">
            @Model.Message
        </div>
        
        <br/>           
    }
</div>

<div>
    You are the first stage of the sBlog.Net setup! Welcome :) This step is pretty simple!
    You just have to enter the connection string from your web.config in order to authenticate
    yourself as the owner of this blog. Then clicking on the "Install Now &raquo;"
    button would finish the database installation of sBlog.Net! The next step would
    involve asking you for more information about your blog. So, here is the first step!
</div>

<br />

<div>
    The following scripts have to be run:
            
    <ul>
        @foreach (var script in Model.Scripts)
        {
            <li>@script</li>
        }
    </ul>
</div>

<div style="text-align: center;">
    @using (Html.BeginForm())
    {
        <br />
        <span class="left-align">@Html.LabelFor(model => model.ConnectionString)</span> 
        <span>[<span style="color: red; cursor: pointer" title="A case-sensitive validation is performed. So make sure you maintain case when you enter the connection string.">?</span>]</span><br />
        @Html.TextBoxFor(model => model.ConnectionString, new { @class = "inputBoxBigConnStr", autocomplete = "off" })<br />
        @Html.ValidationMessageFor(model => model.ConnectionString)
        
        <br />
        
        <button type="submit" class="important">Install Now &raquo;</button>        
    }
</div>

<br/><br/>

<div>
    @if (!string.IsNullOrEmpty(Model.CompleteException))
    {
        <div style="border: 1px dashed black; background-color: #FE2E64; padding: 5px">
            <h3 style="text-align: center; font-weight: bold;">failed in an astronomical fashion :(</h3>
            <br />
            here is the complete <strong>stack trace</strong>. if you need some help, go to 
            <a href="http://sblogproject.net/" target="_blank" style="color: blue; text-decoration: none">sBlog.Net's homepage</a> 
            and use the <span style="color: blue; border-bottom: 1px dashed black">contact</span> form available...
            <br /><br />

            @Model.CompleteException
        </div>
    }

</div>
