@model sBlog.Net.Models.BlogPostPageViewModel

@{
    ViewBag.Title = string.Format("{0} || {1} || page {2}", Model.Tag.TagName, Model.BlogName.ToLower(), Model.CurrentPageNumber);
}

@Html.Partial("DisqusCounts", Model)

@if (!Model.Any)
{
    <div>@sBlog.Net.Resources.Views.Shared.GenericResources.NoPostsMessage</div>
}

@foreach (var post in Model.Posts)
{
    @Html.Partial("Post", post)
}
<br />
@if (Model.Any && Model.PreviousPageValid)
{
    <div style="float: left">
        @Html.RouteLink(sBlog.Net.Resources.Views.Shared.GenericResources.PreviousPageLink, "TagPaged", new { tagName = Model.Tag.TagSlug, pageNumber = Model.PreviousPageNumber }, new { @class = "link" })
    </div>
}

@if (Model.Any && Model.NextPageValid)
{
    <div style="float: right">
        @Html.RouteLink(sBlog.Net.Resources.Views.Shared.GenericResources.NextPageLink, "TagPaged", new { tagName = Model.Tag.TagSlug, pageNumber = Model.NextPageNumber }, new { @class = "link" })
    </div>
}
