@model sBlog.Net.Models.BlogPostPageViewModel

@{
    ViewBag.Title = string.Format("{0} {1} || {2} || page {3}", Model.Month.GetMonthName(), Model.Year, Model.BlogName.ToLower(), Model.CurrentPageNumber);
}

@Html.Partial("DisqusCounts", Model)

@if (!Model.Any)
{
    <div>@sBlog.Net.Resources.Views.Shared.GenericResources.NoPostsMessage</div>
}

@foreach (var post in Model.Posts)
{
    @Html.Partial("Post", post)
}
<br />
@if (Model.Any && Model.PreviousPageValid)
{
    <div style="float: left">
        @Html.RouteLink(sBlog.Net.Resources.Views.Shared.GenericResources.PreviousPageLink, "PostByYearMonthPaged", new { year = Model.Year, month = Model.Month, pageNumber = Model.PreviousPageNumber }, new { @class = "link" })
    </div>
}

@if (Model.Any && Model.NextPageValid)
{
    <div style="float: right">
        @Html.RouteLink(sBlog.Net.Resources.Views.Shared.GenericResources.NextPageLink, "PostByYearMonthPaged", new { year = Model.Year, month = Model.Month, pageNumber = Model.NextPageNumber }, new { @class = "link" })
    </div>
}
