@model sBlog.Net.Areas.Admin.Models.Comments.CommentInfo

<tr>
    <td>
        <b>@Model.Comment.CommentUserFullName</b><br />
        @Model.Comment.CommenterSite
    </td>
    <td class="comment-col">
        Submitted on <strong>@Model.Comment.CommentPostedDate.ToString()</strong><br /><br />
        @Model.Comment.CommentContent<br /><br /><br />
        @Html.Partial("CommentPartial", Model.Links)
        <br />
    </td>
    <td>
        @(Model.Post.EntryType == 1 ? Html.RouteLink(Model.Post.PostTitle, "IndividualPost", new {year = Model.Post.PostYear, month = Model.Post.PostMonth, url = Model.Post.PostUrl}, new { @class = "sub-title" }) 
        : Html.RouteLink(Model.Post.PostTitle, "Pages", new {pageUrl = Model.Post.PostUrl}, new { @class = "sub-title" }))
    </td>
</tr>
