<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.GetCommonScriptsAndStyles()
    @Html.LoadStylesAndScripts(Html.Action("GetBlogTheme", "Blog").ToString())
</head>
    <body>
        @Html.Partial("AdminLinks")
        <div id="wrapper">
            <div id="header-wrapper">
                <div id="header">
                    <div id="logo">
                        @Html.Action("Logo","Blog")
                    </div>
                    <div id="menu">
                        @Html.Action("Pages", "ViewPage")
                        <img id="more-pages" src="@Url.Content("~/Content/Images/arrow.png")" alt="more pages" />
                    </div>
                </div>
            </div>
            <!-- end #header -->
            <div id="page">
                <div id="content">
                    @RenderBody()
                </div>
                <!-- end #content -->
                <div id="sidebar">
                    @Html.Partial("SideBar")
                </div>
                <!-- end #sidebar -->
                <div style="clear: both;">&nbsp;</div>
            </div>
            <!-- end #page -->
        </div>
        <div id="footer">
            @Html.Action("BlogFooter","Blog")
        </div>
        <!-- end #footer -->
    </body>
</html>
