@model sBlog.Net.Models.Account.ResetPasswordModel
           
@{
    ViewBag.Title = string.Format("{0} || {1}", Model.Title, "Reset Your Password");
}

@using (Html.BeginForm("ResetPassword", "Account", new { ticket = Model.VerificationCode }))
{
    @Html.ValidationSummary()

    <br />
    <div>
        <p>
            @Html.LabelFor(model => model.EmailAddress)<br />
            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "inputBoxBig" })
            @Html.HiddenFor(model => model.VerificationCode)
        </p>
        <p>            
            @Html.LabelFor(model => model.Password)<br />
            @Html.PasswordFor(model => model.Password, new { @class = "inputBoxBig" })
        </p>
        <p>
            @Html.LabelFor(model => model.ConfirmNewPassword)<br />
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "inputBoxBig" })
        </p>

        <div>
            <input type="submit" value="reset my password" class="submitBtn" />
        </div>
    </div>
}
