@model sBlog.Net.Areas.Admin.Models.AdminCommentViewModel

@{
    ViewBag.Title = string.Format("Manage Comments || {0}", Model.Title);
}

@Html.ActionLink("All", "ManageComments", new { type = "all" })  (@Model.AllCommentsCount ) |
@Html.ActionLink("Approved", "ManageComments", new { type = "approved" }) (@Model.ApprovedCommentsCount ) | 
@Html.ActionLink("Pending", "ManageComments", new { type = "pending" }) (@Model.PendingCommentsCount ) | 
@Html.ActionLink("Spam", "ManageComments", new { type = "spam" }) (@Model.SpamCommentsCount ) | 
@Html.ActionLink("Trash", "ManageComments", new { type = "trash" }) (@Model.TrashCommentsCount ) | 

<table id="manage-table">
    <thead>
        <tr>
            <th class="header" scope="col">Author</th>
            <th class="header comment-col" scope="col">Comment</th>
            <th class="header" scope="col">Post</th>
        </tr>
    </thead>
        @Html.Partial("ItemInfo", Model.Comments.Count)
        @foreach(var comment in Model.Comments){ 
            @Html.Partial("Comment", comment)
        }
    <tfoot>
        <tr>
            <th class="footer" scope="col">Author</th>
            <th class="footer comment-col" scope="col">Comment</th>
            <th class="footer" scope="col">Post</th>
        </tr>        
    </tfoot>
</table>
    
@Html.PageLinks(Model.PagingInfo, x => Url.Action("ManageComments", new { page = x, type = Model.Type }))
@Html.HiddenFor(model => Model.OneTimeCode)
