<ul>
    <li>
        @Html.Action("RecentPosts", "Recents")
    </li>
    <li>
        @Html.Action("RecentComments", "Comment")
    </li>
    <li>
        @Html.Action("BlogArchives", "Recents")
    </li>
    <li>
        @Html.Action("BlogCategories", "Category")
    </li>
    <li>
        @Html.Partial("SiteActions")
    </li>
</ul>
