@using Resource = sBlog.Net.Resources.Views.Shared.GenericResources

@model sBlog.Net.Models.BlogPostPageViewModel

@{
    ViewBag.Title = string.Format("Posts by {0} || {1} || page {2}", Model.AuthorDisplayName, Model.BlogName.ToLower(), Model.CurrentPageNumber);
}

@Html.Partial("DisqusCounts", Model)

@if (!Model.Any)
{
    <div>@Resource.NoPostsMessage</div>
}

@foreach (var post in Model.Posts)
{
    @Html.Partial("Post", post)
}
<br />

@if (Model.Any && Model.PreviousPageValid)
{
    <div style="float: left">
        @Html.RouteLink(Resource.PreviousPageLink, "AuthorPostsPaged", new { authorName = Model.AuthorName, pageNumber = Model.PreviousPageNumber }, new { @class = "link" })
    </div>
}

@if (Model.Any && Model.NextPageValid)
{
    <div style="float: right">
        @Html.RouteLink(Resource.NextPageLink, "AuthorPostsPaged", new { authorName = Model.AuthorName, pageNumber = Model.NextPageNumber }, new { @class = "link" })
    </div>
}
